.footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: #1f14148c;
}

#game-turn-display {
    margin-left:20px;
    margin-right:100px;
}

a {
    text-align:  center;
}

a.button1 {
    display:inline-block;
    padding:0.2em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
 }

 a.button1:hover {
    color:#000000;
    background-color:#FFFFFF;
    }

@media all and (max-width:30em){
     a.button1{
    display:block;
    margin:0.4em auto;
    }
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.center {
    padding:5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .explanation {
    display: inline-block; 
    text-align: left; 
    line-height: 20px; 
    margin-top:30px; 
    margin-bottom:30px;
  }

  .winning-player {
      text-align: center;
  }
