/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "assets/example.css";
@font-face {
    font-family: 'CoffeeTin';
    src: url(assets/fonts/CoffeeTin.ttf) format("truetype");
  }

  * {
    font-family: 'Helvetica';
   }

   
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    display: none;
  }

  .wrongResolution {
    visibility: hidden;
  }

  @media (min-width: 1000px) and (min-height: 800px){
    .overlay {
      display: inherit;
      z-index: 5;
    }
  }

  @media (max-width: 1000px) and (max-height: 800px) {
    .wrongResolution {
      visibility: inherit;
      z-index: 1;
      text-align: center;
      margin-top: 50%;
    }
  }